.father-tienda {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction:column;
}

.tienda-body {
    width: 100vw;
    height: 80vh;
    display: flex;
    background-color: white;
}