.Api-father {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    background: linear-gradient(45deg, #000000, #333333);
    display: flex;
    justify-content: flex-start;
    align-items: stretch;    
    flex-direction: column;
    box-sizing: border-box;


}

.Api-container {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-sample-container{
    width: 36vw;
    height: 16vw;
    font-size: 18px;
    padding: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    background-color: rgb(55, 94, 201);
    color: white;
    border: 2px solid darkblue;
    border-radius: 12px;
    box-sizing: border-box;
}

.book-pic-container {
    width: 12vw;
    height: 16vw;

}

.book-pic {
    width: 12vw;    
    
}

.book-info-container{
    width: 24vw;
    height: 16vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding: 1rem;

}

